body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Microsoft YaHei";
  // font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html {
  height: 100%;
  box-sizing: border-box;
  background: url('../images/bg.png') no-repeat;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

ul,li {
  padding: 0;
  margin: 0;
  list-style: none;
}

#app {
  // position: absolute;
  height: 94%;
  color: #333;
  font-size: 14px;
  line-height: 1;
}
.app-wrapper{
  position: absolute;
  width: 96%;
  margin: 20px 2% 0 2%;
  color: #333;
  font-size: 14px;
  line-height: 1;
}
.app-main_wrap > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.blue_button{
  border-radius: 4px;
  background-image: linear-gradient( 0deg, rgb(65,70,162) 0%, rgb(44,87,173) 100%);
  padding: 11px 20px;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
  float: right;
}
.el-table__body{
  font-size: 12px;
}
