
// 文本溢出
.mult_line_ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.el-dialog {
  // margin-top: 0 !important;
  // position: absolute;
  // top: 15%;
  // left: 50%;
  // transform: translateX(-50%);
}



// 全局样式
.zui-shadow {
  border-radius: 4px;
  transition: all .5s;
  box-shadow: 0px 2px 15px rgba(7, 17, 27, .1);
  background-color: #fff;
  overflow: hidden;
  &:hover {
      transform: translateY(-2px);
      box-shadow: 0px 2px 15px rgba(0, 7, 17, .3);
  }
}

// 表格内容
.zui-main--container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  .el-form-item {
    margin-bottom: 0;
  }
  .zui-main__search {
    border: 1px solid $border-c;
    border-bottom: none;
    padding: 14px 20px;
  }
  .el-table td,
  .el-table th {
    padding: 10px 0;
  }
}

// 分页
.el-pagination {
  border: 1px solid #ebeef5;
  border-top: none;
  padding: 10px 20px;
  background: #fff;
}

// 弹出表单
.zui-dialog__form {
    .el-input {
        width: 326px;
    }
    .zui-region {
      .el-input {
        width: 160px;
      }
      .el-select:not(:last-child) {
        margin-right: 6px;
      }
    }
}

// 全屏弹层
.zui-dialog--fullscreen {
  position: absolute;
  width: 74%;
  right: 0;
  bottom: 0;
  top: 0;
  margin: 0;
  margin-top: 0px !important;
  .el-tabs__item {
    padding:  0 30px;
  }
  .el-dialog__header {
    display: none;
  }
  .el-dialog__body,.el-tabs,.el-tab-pane  {
    height: 100%;
  }
  .el-dialog__body {
    padding: 30px 20px 20px;
  }
  .el-tabs__content {
    height: calc(100% - 55px);
  }
  .el-tab-pane>div {
    height: 100%;
    display: flex;
  }
}

